/* etiketi color: #42220c;

btn background-color: #a5531d; */

@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Courgette&family=Indie+Flower&family=Kalam:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 25px;
  font-family: "Architects Daughter", cursive;
  font-family: "Courgette", cursive;
  font-family: "Indie Flower", cursive;
  font-family: "Kalam", cursive;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.container {
  width: 100%;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.navbar .logo img {
  width: 0px;
}

nav ul li {
  display: inline-block;
  margin-right: 25px;
}

nav li a {
  color: #1b4f4a;
}

nav {
  margin-right: 35%;
}

.icon i {
  font-size: 25px;
}

/*
        ROW */

.col-2 {
  flex-basis: 50%;
}

.col-2 h1 {
  font-size: 3rem;
  color: bisque;
}
.col-2 span {
  font-size: 6rem;
  margin-left: 80px !important;
  line-height: 60px;
  margin: 20px 0;
}

.col-2 p {
  margin: 15px 0;
  font-weight: 400;
}

.btn {
  display: inline-block;
  color: white;
  background-color: rgb(142, 114, 88);
  padding: 8px 30px;
  border-radius: 30px;
  margin-top: 5px;
  margin-left: 70%;
}

.content {
  display: flex;
  margin-top: 100px;
}
.rightside .boxx {
  width: 1000px;
  height: 500px;
  position: relative;
}

.rightside .boxx img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: screen;
}

.rightside .boxx video {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.leftside {
  margin-right: 0px;
  margin-left: 0px;
}
.rightside {
  margin-right: 1px;
}
